In [1]:
# usando split()

data = input("ingrese 2 numeros: ")

print(data)
n1,n2 = data.split(' ')
print(n1)
print(n2)

ingrese 2 numeros: 45 12
45 12
45
12

In [3]:
n1,n2 = input("ingrese 2 numeros: ").split(' ')

print("suma: ",int(n1) + int(n2))

ingrese 2 numeros: 45 12
suma:  57

In [5]:
dia,mes,año =input("Ingrese fecha de nacimiento dia/mes/año: ").split("/")
print(dia)
print(mes)
print(año)

Ingrese fecha de nacimiento dia/mes/año: 45/45/5
45
45
5

In [8]:
dia,mes,año =input("Ingrese fecha de nacimiento dia mes año: ").split()
print(dia)
print(mes)
print(año)

Ingrese fecha de nacimiento dia mes año: 12 24 544
12
24
544

In [12]:
# imprimiendo resultados de operaciones logicas}

print(5<6)
print(4==4)
print(0.111 != 0.232)
print(2.3<=2.3)
print(5+4==9 and 8==4 )
print(not(3!=2) or 4==5)

True
True
True
True
False
False

# ESTRUCTURAS DE DESICIÓN

In [16]:
x=int(input("ingrese un numero: "))
if (x>0):     #parentesis opcional, pero dos puntos es obligatorio
    print(" es positivo")
else :
    print("es negativo")

ingrese un numero: 45
 es positivo

In [22]:
edad = int(input("ingrese su edad: "))
print("\n")
if edad>0:
    if edad>=18:
        print("Eres mayor de edad")
        print("Gracias!!")
    else:
        print("Eres menor de edad")
        print("Gracias!!")
else: 
    print("Edad erronea !No seas wey!")

ingrese su edad: 45


Eres mayor de edad
Gracias!!

In [30]:

try:
    n1=float(input("ingrese un numero: "))
    n2=float(input("ingrese otro numero: "))
    print("\n")
    
    if n1>n2:
        print("El primer numero es mayor")
    elif n2>n1:
        print("El segundo numero es mayor")
    else:
        print("ambos numeros son iguales")
        
except ValueError:
    print("los datos ingresados no son números")

ingrese un numero: df
los datos ingresados no son números

In [31]:
#tip
operacion = "45+78"
n1,n2=operacion.split("+")
print(int(n1)+int(n2))

123

In [33]:
operacion = "45 + 78"
op1,op2,op3=operacion.split()

print(op1)

45

In [36]:
oper=input("ingrese una operacio [con +,-,x,/]: ")

op1,op2,op3=oper.split()
op1=float(op1)
op3=float(op3)
if op2=='x':
    print("{} = {:.2f}".format(oper,op1*op3))
elif op2=='+':
    print("{} = {:.2f}".format(oper,op1 + op3))
elif op2=='-':
    print("{} = {:.2f}".format(oper,op1 - op3))
elif op2=='/':
    print("{} = {:.2f}".format(oper,op1 / op3))
else:
    print("operador incorrecto")

ingrese una operacio [con +,-,x,/]: 5 + 4
5 + 4 = 9.00

In [45]:
#año bisiesto

año = int(input("Igrese un año: ")) 
if año>0:
    if año % 4 == 0:
        if año % 100 == 0:
            if año % 400 == 0:
                print("El año es bisiesto")
            else:
                print("El año no es bisiesto")
        else:
            print("El año es bisiesto.")
    else:
        print("El año no es bisiesto.")
else:
    print("dato incorrecto")

Igrese un año: 400
El año es bisiesto

In [47]:
año = int(input("Igrese un año: ")) 

if(año%4==0 and año%100!=0 or año%400==0):
    print("el año {} es bisiesto".format(año))
else :
    print("el año {} NO es bisiesto".format(año))

Igrese un año: 2000
el año 2000 es bisiesto

#  ALMACENAR GRUPO DE DATOS

In [48]:
dat1 =(56,890,0.6,10,"Elvis")   #tupla (inmutable)
print(dat1)
print(type(dat1))

dat2 =[56,890,0.6,10,"Elvis"]   #lista (mutable)
print(dat2)
print(type(dat2))

dat3 = "Programacion de computadoras"   #cadena o string
print(dat3)
print(type(dat3))

(56, 890, 0.6, 10, 'Elvis')
<class 'tuple'>
[56, 890, 0.6, 10, 'Elvis']
<class 'list'>
Programacion de computadoras
<class 'str'>

In [49]:
#uso del objeto in:
dia=3
if(dia==1 or dia==2 or dia==3 or dia==4 or dia==5 or dia==5):
    print("Es un dia laborable")
elif(dia==6 or dia==7):
    print("Es un dia de descanso")
else:
    print("No es un dia valido")

Es un dia laborable

In [51]:
dia=3
if dia in (1,2,3,4,5): #si el valor esta en una tupla (1,2,3,4,5)
    print("Es un dia laborable")
elif dia in (6,7):
    print("Es un dia de descanso")
else:
    print("No es valido el dia")

Es un dia laborable

In [53]:
cad = "Perú"
frase = "Arriba Perú en la cuarentena"

print(cad in frase)

True

In [54]:
cad = "X"
frase = "Arriba Perú en la cuarentena"

print(cad in frase)

False

In [55]:
mes=int(input("ingrese el mes [1-12]: "))
año=int(input("ingrese el mes (ej.2010): "))
if 0<mes<13 and año>0:
    if mes in (1,3,5,7,8,10,12):
        print("Hay 31 dias en el mes")
    elif mes in (4,6,9,11):
        print("Hay 31 dias en el mes")
    elif(mes==2 and (año%4==0 and año%100!=0 or año%400==0)):
        print("Hay 29 dias en el mes")
    else :
        print("Hay 28 dias en el mes")
else:
    print("los datos son erroneos")

ingrese el mes [1-12]: 2
ingrese el mes (ej.2010): 2000
Hay 29 dias en el mes

In [57]:
mes=int(input("ingrese el mes [1-12]: "))

if (mes<1 or mes>12):
    print("Error en el mes!!")

else:
    año=int(input("ingrese el mes (ej.2010): "))
    if(año>0):
        if mes in (1,3,5,7,8,10,12):
            print("Hay 31 dias en el mes")
        elif mes in (4,6,9,11):
            print("Hay 31 dias en el mes")
        else :
            if(mes==2 and (año%4==0 and año%100!=0 or año%400==0)):
                print("Hay 29 dias en el mes")
            else :
                print("Hay 28 dias en el mes")
    else:
        print("Error en el año")

ingrese el mes [1-12]: 4
ingrese el mes (ej.2010): 400
Hay 31 dias en el mes

# ESTRUCTURAS REPETITIVAS

In [58]:
#for i in (1,2,3,4,5): #para i que esta el el grupo (1,2,3,4,5)
    #bloque
    
#ejecuta bloque para i:1,2,3,4,5 (osea se va ejecutar 5 veces)

In [62]:
for i in (1,2,3,4,5,60):
    print("Arriba perú")

Arriba perú
Arriba perú
Arriba perú
Arriba perú
Arriba perú
Arriba perú

In [61]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [65]:
for caracter in "programacion" :
    print(caracter)

p
r
o
g
r
a
m
a
c
i
o
n

In [66]:
for caracter in "programacion" :
    print(caracter,end=(" "))

p r o g r a m a c i o n

In [68]:
# existe en python el dato tipo range:

r1=range(1,10)  #se crea el rango [1;10>  : 1,2,3,4,5,6,7,8,9
print(r1)
print(type(r1))

r2 = range (5,20) #se crea el rango[5;20> :5,6,7,8,...,19
print(r2)

r3 = range (10,20,2) #se crea el rango[10;20> :10,12,14,16,18

r3 = range (10,100,5)

r4 = range(10,0,-1) #se crea el rango[10;0> : 10,9,8,7,6,5,4,3,2,1

range(1, 10)
<class 'range'>
range(5, 20)

In [69]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [74]:
a=int(input("ingrese el inicio del rango: "))
b=int(input("ingrese el final del rango: "))
for i in range(a,b+1):
    if i%2==1:
        print(i)

ingrese el inicio del rango: 10
ingrese el final del rango: 18
11
13
15
17

In [76]:
# TIP

for x in range(1,10): #i:1,2,3,4,5,6,7,8,9
    print(x)
    x=x+20 #no se debe actualizar el valor de la vble. de iteracion

1
2
3
4
5
6
7
8
9

In [78]:

acum=0
for i in [7,8,9,10]:
    acum=acum + i

print(acum)

34

In [79]:
#USO DEL WHILE:
#While(expresion):
    #bloque

In [1]:
i =10
while(i>=0):
    print(i)
    i=i-1

10
9
8
7
6
5
4
3
2
1
0

In [2]:
x=1
while(True):
    print(x)
    x=x+1
    if(x==5):
        break

1
2
3
4

In [4]:
#VALIDADNDO ENTRADA
while(True):
    num=int(input("Ingrese un numero par: "))
    if(num%2==0):
        break
print("Dato correcto")

Ingrese un numero par: 45
Ingrese un numero par: 44
Dato correcto

In [4]:
#VALIDADNDO ENTRADA
while(True):
    num=int(input("Ingrese un numero: "))
    if(num<2):
        print("Intente nuevamente")
    else:
        print("Dato correcto")
        break
        
print(num)

while(num>1):
    if(num%2==0):
        num=int(num/2)
        print(num)
    else:
        num=3*num+1
        print(num)

Ingrese un numero: 6
Dato correcto
6
3
10
5
16
8
4
2
1

In [8]:
# ALEATORIOS Y TIEMPO
import random
import time

for i in range(1,11):
    dado=random.randint(1,6) #genera aleatorio entero en el rango[1,6]
    print(dado)
    time.sleep(0.5) #duerme la ejecucion medio segundo

3
3
3
6
1
5
4
2
2
1

In [9]:
# ALEATORIOS Y TIEMPO
import random
import time

for i in range(1,11):
    x=random.uniform(1,6) #genera aleatorio realen el rango[1,6>
    print(x)
    time.sleep(0.2) #duerme la ejecucion medio segundo

2.1629417875154093
4.753072579888692
4.317058975490468
4.561977918408625
2.750019402914367
5.50724815320687
1.4576650411571992
2.0704400532661476
2.1578152461575693
1.0965753189405345