# <u>Introducción a Python</u>

### El primer programa: Hola mundo
Un clásico... Hola Mundo en Python

In [1]:
print("Hola mundo")

Hola mundo

### Tipos de datos y operadores aritméticos
Python dispone de un conjunto de tipos numéricos para realizar las operaciones matemáticas básicas (sumas, restas, multiplicación, división). Utilice la celda inferior para realizar cálculos numéricos sencillos (No olvide presionar la combinación de teclas *Shift + Enter* para ejecutar sus instrucciones).

In [2]:
1 + 2

3

In [3]:
5 - 8

-3

In [4]:
2 * 6

12

In [5]:
10 * 2.5

25.0

In [6]:
10 / 3

3.3333333333333335

In [7]:
12 + 6 / 2

15.0

Python tiene como otros lenguajes de programación una jerarquia en el orden de ejecución de intrucciones. Puede utilizar () para modificar esta regla.

| Operación      | Operador      | Orden |
|----------------|:-------------:|:-----:|
| Paréntesis     |       ()      |   1   |
| Potenciación   |       **      |   2   |
| División       |       /       |   3   |
| División Entera|       //      |   3   |
| Multiplicación |       *       |   3   |
| Módulo         |       %       |   3   |
| Suma           |       +       |   4   |
| Resta          |       -       |   4   |

In [8]:
(12 + 6) / 2

9.0

In [9]:
12 + 4 / (6 + 2) - 4

8.5

Los errores en Python se muestran como un mensaje devuelto por el intérprete. Lor errores incluyen un texto que indica el tipo de error, una flecha (---->) que indica donde esta el error y el nombre de esta Excepción que es como se suele denominar a los tipos de errores. Intente realizar una división entre cero en la celda inferior.

In [10]:
7 / 0

ZeroDivisionError: division by zero

Python incluye la posibilidad de trabajar con numeros complejos, utilizando el simbolo j. Ingrese en la celda inferior un número complejo como 2 + 3j.

In [11]:
2 + 3j

(2+3j)

Otras instrucciones aritméticas disponibles en Python son módulo (%) que puede manejar números con decimales, y la operación potenciación (**) asi como la division entera (//)

In [12]:
2 ** 3

8

In [13]:
10 // 3

3

In [14]:
10 % 3

1

Python reconoce el tipo de dato ingresado por la forma como este se ha escrito: valores sin decimales como enteros (int), valores con decimales como flotantes (float) y valores complejos por contener el caracter j (complex). Se puede utilizar la función type() para revisar el tipo de datos.

In [15]:
type(5)

int

In [16]:
type(1.2)

float

In [17]:
type(2+3j)

complex

In [18]:
type('Hola')

str

In [19]:
type('C')

str

Se pueden utilizar las instrucciones int, float y complex para convertir entre tipos de datos, aunque no todas las conversiones de datos estan permitidas

In [20]:
int(2.9)

2

In [21]:
float(10)

10.0

In [22]:
str(3.1415)

'3.1415'

In [23]:
float('1.7172')

1.7172

In [24]:
complex(3)

(3+0j)

In [25]:
a=int(3+3j)

TypeError: can't convert complex to int

In [26]:
int('Hola')

ValueError: invalid literal for int() with base 10: 'Hola'

In [27]:
float(1+2j)

TypeError: can't convert complex to float

El tipo de dato string (str) tiene muchas formas de definirse: pueden utilizarse comillas simples ('), comillas dobles ("), comillas simple triples (''') o comillas dobles triples (""").

In [28]:
'Una golondrina no hace verano'

'Una golondrina no hace verano'

In [29]:
"Una golondrina no hace verano"

'Una golondrina no hace verano'

In [30]:
'''Tres golondrinas... esas sin hacen verano'''

'Tres golondrinas... esas sin hacen verano'

In [35]:
"""...pero cuatro ya son multitud"""

'...pero cuatro ya son multitud'

Las definición de un string con triples comillas (ya sean simples o dobles) permite insertar una nueva línea en el string (lo que se muestra con el caracter de escape \n)

In [38]:
'''Este texto esta compuesto por una linea...
y otra linea'''

'Este texto esta compuesto por una linea...\ny otra linea'

Pero en la impresión, esta caracter \n se interpretara correctamente como una nueva linea

In [39]:
print('''Este texto esta compuesto por una linea...
y otra linea''')

Este texto esta compuesto por una linea...
y otra linea

Esta combinación de comillas simples y dobles permite incluir estas mismas comillas dentro de un string

In [40]:
print('El nombre cientifico de la golondrina es "Hirundo Rustica"')

El nombre cientifico de la golondrina es "Hirundo Rustica"

Hay dos operaciones aritméticas que afectan a un string. La multiplicación repite una cadena por el factor de multiplicación:

In [41]:
print("Varios Holas " * 3)

Varios Holas Varios Holas Varios Holas

Mientras que el operador "+" concatena (es decir, une) dos strings

In [42]:
print("Hola" + ' ' + 'Mundo')

Hola Mundo


### Asignacion de variables en Python
La asignación de variables en Python se realiza con el operador =

In [43]:
var = "Soy una variable"

Las asignaciones no se muestran en la pantalla, como sucede como otras herramientas interpretadas, como MATLAB u Octave. Para visualizar el contenido de una variable sera necesario volver a escribir el nombre de la variable.

In [44]:
var

'Soy una variable'

Es interesante notar que las variables no requieren tipos (como sucede en lenguajes compilados como C o C++). Esto es porque Python es de tipo dinamico. Pruebe asignar varios tipos de datos a la misma variable y verifique con la funcion type() que el tipo de datos reconocido por Python es diferente.

In [45]:
var = 10
type(var)

int

In [46]:
var = 3.1416
type(var)

float

In [47]:
var = "Hola"
type(var)

str

In [48]:
var = 2+3j
type(var)

complex

Es posible asignar varios valores a varias variables a la vez utilizando "," para separar las variables y los valores a asignar.

In [49]:
var1, var2 = 1, 3
print(var1, var2)

1 3

### Operadores de comparación
Los operadores de comparación son ==, !=, <, <=, >, >=

In [52]:
3.0 == 3.0

True

In [53]:
1 == 1.0

True

In [54]:
12 > 10

True

In [55]:
20.10 != 20.00

True

In [56]:
12 <= 12

True

Nota: Las celdas en Jupyter solo imprimen el resultado de la ultima instrucción, a menos que se utilice la instrucción print para especificar la impresion de los resultados.

In [57]:
12 + 3
12 % 7
1 + 2

3

In [58]:
print(12 + 3)
print(14 % 7)
print(1 + 2)

15
0
3

# Reglas de nombres de variables
Las variables es Python pueden ser arbitrariamente largas. Pueden contener letras y numeros, pero deben de empezar con una letra o con un caracter de subrayado (_). Asi también, aunque se pueden utilizar letras mayúsculas, por convención no se utilizan. En Python, *var* y *Var* hacen referencia a variables diferentes

In [59]:
12cervezas = "Una caja"

SyntaxError: invalid syntax (<ipython-input-59-a6b58006e6b2>, line 1)

In [60]:
tres% = "Tres por ciento"

SyntaxError: invalid syntax (<ipython-input-60-4b6c2ad0d786>, line 1)

In [61]:
class = "Seccion A"

SyntaxError: invalid syntax (<ipython-input-61-3185617c3bc0>, line 1)

Todos los ejemplos anteriores son ejemplos de variables con nombres inválidos, porque no inicia con una letra o subrayado, porque utilizan un caracter ilegal o porque utiliza como nombre de variable una palabra reservada (class). Python tiene más de 30 palabras reservadas (este número puede cambiar según las versiones de Python):


<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-yw4l{vertical-align:top}
</style>
<table class="tg">
  <tr>
    <td class="tg-baqh">and</td>
    <td class="tg-yw4l">as</td>
    <td class="tg-yw4l">assert</td>
    <td class="tg-yw4l">break</td>
    <td class="tg-yw4l">class</td>
    <td class="tg-yw4l">continue</td>
  </tr>
  <tr>
    <td class="tg-yw4l">def</td>
    <td class="tg-yw4l">del</td>
    <td class="tg-yw4l">elif</td>
    <td class="tg-yw4l">else</td>
    <td class="tg-yw4l">except</td>
    <td class="tg-yw4l">exec</td>
  </tr>
  <tr>
    <td class="tg-yw4l">finally</td>
    <td class="tg-yw4l">for</td>
    <td class="tg-yw4l">from</td>
    <td class="tg-yw4l">global</td>
    <td class="tg-yw4l">if</td>
    <td class="tg-yw4l">import</td>
  </tr>
  <tr>
    <td class="tg-yw4l">in</td>
    <td class="tg-yw4l">is</td>
    <td class="tg-yw4l">lambda</td>
    <td class="tg-yw4l">nonlocal</td>
    <td class="tg-yw4l">not</td>
    <td class="tg-yw4l">or</td>
  </tr>
  <tr>
    <td class="tg-yw4l">pass</td>
    <td class="tg-yw4l">raise</td>
    <td class="tg-yw4l">return</td>
    <td class="tg-yw4l">try</td>
    <td class="tg-yw4l">while</td>
    <td class="tg-yw4l">with</td>
  </tr>
  <tr>
    <td class="tg-yw4l">yield</td>
    <td class="tg-yw4l">True</td>
    <td class="tg-yw4l">False</td>
    <td class="tg-yw4l">None</td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
  </tr>
</table>

### Ayuda en Python
Para concluír... ¿y donde encuentro la ayuda en el mismo sistema Python? La ayuda en consola se puede obtener utilizando la instruccion *help()* (para salir es necesario ingresar "q").

En Jupyter y en muchos IDEs se puede obtener ayuda presionando la tecla [Tab] mientras se va ingresando una instrucción.

Toda la documentación de Python se puede consultar en la [ayuda en linea](https://docs.python.org/3/library/index.html).